* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  /* background-image: url(./assets/IMG_7875.jpg); */
  /* background-image: url(./assets/IMG_7874.jpg); */
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title { 
  font-size: 8rem;
}
.click_area {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  user-select: none;
}